<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
	<extension point="org.eclipse.ui.startup">
   		<startup class="br.ufrn.lets.crashawaredev.startup.StartupClass"/>
    </extension>
    
    <extension point="org.eclipse.core.resources.markers" 
    			id="br.ufrn.lets.view.CrashAwareDevId"
  			    name="CrashAwareDev">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true"/>
		<attribute name="description"/>
		<super
            type="org.eclipse.core.resources.textmarker">
      </super>
	</extension>
	
	<extension point="org.eclipse.ui.views">
		<category
            name="Crash Aware Dev"
            id="br.ufrn.lets.crashawaredev">
      	</category>
      
      <view
            name="Query Crashes from Kibana"
            category="br.ufrn.lets.crashawaredev"
            class="br.ufrn.lets.crashawaredev.view.CrashView"
            id="br.ufrn.lets.crashawaredev.view.CrashViewId">
      </view>
      
      <view
            name="Exception Information"
            category="br.ufrn.lets.crashawaredev"
            class="br.ufrn.lets.crashawaredev.view.InfoExceptionView"
            id="br.ufrn.lets.crashawaredev.view.InfoExceptionViewId">
      </view>
	</extension>
	
	<extension
		point="org.eclipse.ui.commands">
      <command
            id="br.ufrn.lets.crashawaredev.view.RootCausesCommandID"
            description="Find errors top root causes in project."
            name="commandTopCauses">
      </command>
      <command
            id="br.ufrn.lets.crashawaredev.view.FindCrashesCommandID"
            description="Find last crashes from kibana."
            name="commandFindCrashes">
      </command>
      <command
            id="br.ufrn.lets.crashawaredev.view.FindClassCrashesCommandID"
            description="Find last crashes from kibana."
            name="commandFindClassCrashes">
            <commandParameter id="byClass" name="Define que a consulta vai ser pela classe selecionada" optional="false"/>
      </command>
  	</extension>
	
	<extension point="org.eclipse.ui.menus">
	  <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
	     <menu id="CrashAwareDevId" label="CrashAwareDev"></menu>
	  </menuContribution>
	  <menuContribution locationURI="popup:CrashAwareDevId?after=additions">
	     <command commandId="br.ufrn.lets.crashawaredev.view.RootCausesCommandID"
	     		  defaultHandler="br.ufrn.lets.crashawaredev.handlers.RootCausesHandler"
	           	  label="Show Top Root Causes">
	     </command>
	     <command commandId="br.ufrn.lets.crashawaredev.view.FindCrashesCommandID"
	     		  defaultHandler="br.ufrn.lets.crashawaredev.handlers.FindCrashesHandler"
	           	  label="Show Last Crashes">
	     </command>
	  </menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#CompilationUnitEditorContext?after=additions">
		  	<menu id="CrashAwareDevId2" label="CrashAwareDev"></menu>
		  </menuContribution>
		  <menuContribution locationURI="popup:CrashAwareDevId2?after=additions">
		  <command commandId="br.ufrn.lets.crashawaredev.view.FindClassCrashesCommandID"
	     		  defaultHandler="br.ufrn.lets.crashawaredev.handlers.FindCrashesHandler"
	           	  label="Show Last Crashes">
	           	  <commandParameter id="sampleId2" name="teste" optional="false"/>
	     </command>
		  </menuContribution>
  	</extension>
	
	<extension
         point="org.eclipse.ui.handlers">
         <handler
            class="br.ufrn.lets.crashawaredev.handlers.RootCausesHandler"
            commandId="br.ufrn.lets.crashawaredev.view.RootCausesCommandID">
      	</handler>
      	<handler
            class="br.ufrn.lets.crashawaredev.handlers.FindCrashesHandler"
            commandId="br.ufrn.lets.crashawaredev.view.FindCrashesCommandID">
      	</handler>
      	<handler
            class="br.ufrn.lets.crashawaredev.handlers.FindCrashesHandler"
            commandId="br.ufrn.lets.crashawaredev.view.FindClassCrashesCommandID">
      	</handler>
    </extension> 
    
    <!--<extension
	      point="org.eclipse.jdt.ui.quickAssistProcessors">
	   <quickFixProcessor
	         class="br.ufrn.lets.crashawaredev.handlers.QuickAssistProcessor"
	         id="br.ufrn.lets.crashawaredev.handlers.QuickAssistProcessorId"
	         name="My Quick Fix Processor">
	      <handledMarkerTypes>
	         <markerType
	               id="br.ufrn.lets.view.CrashAwareDevId">
	         </markerType>
	      </handledMarkerTypes>
	   </quickFixProcessor>
	</extension> 
	
	<extension
	      point="org.eclipse.jdt.ui.quickFixProcessors">
	   <quickFixProcessor
	         class="br.ufrn.lets.crashawaredev.handlers.QuickFixProcessor"
	         id="br.ufrn.lets.crashawaredev.handlers.QuickFixProcessorId"
	         name="My Quick Fix Processor">
	      <handledMarkerTypes>
	         <markerType
	               id="br.ufrn.lets.view.CrashAwareDevId">
	         </markerType>
	      </handledMarkerTypes>
	   </quickFixProcessor>
	</extension>-->
	
</plugin>
